*.aux
*.out
*~
*.bck
*.csv
*.bbl
*.blg
*.lof
*.log
*.backup
*.toc
PCA-long-imaging-2015-04-15-without-key.xlsx
data for Raz 12MAR15 without key.xlsx
*.mat
*.swp
*#
docs/Bishop - Pattern Recognition and Machine Learning.pdf
drawImages/
code/SimultMCMC2/
docs/EuroPOND_FinalProposal-SEP-210252525.pdf
code/matfiles/
code/figures/
data/CogDataset_141015_TOSEND_fromEmilie.xlsx
data/
papers/
code/synthetic/
code/diffdiag/figures/
*core
code/processLogs
code/clusterOutput/
diffEqModel/figures
diffEqModel/matfiles/
*.pyc
docs/2016/dianPics07-15/
brain_colouring_blender/labels/
brain_colouring_blender/models/
brain_colouring_blender/output
brain_colouring_blender/*.zip
diffEqModel/.idea/
*.lot
brain_colouring_blender/arman_brains/
*.spl
*elsarticle/
code/staging
voxelwiseDPM/.idea/
voxelwiseDPM/resfiles/
*.idea/
voxelwiseDPM/clusterOutputADNI/
*swp
